@media(max-width: 1024px) {
    .article-column {
        @apply flex flex-col
    }

}

.break-words-hyphenated {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    @apply break-words

}
