/* Customize the label (the container) */
label.custom-checkbox {
    display: block;
    position: relative;
    padding-left: 28px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
label.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
label.custom-checkbox .checkmark, label.custom-checkbox .dot {
    position: absolute;
    top: 0.2em;
    left: 0;
    height: 1.2em;
    width: 1.2em;
    background-color: #eee;
}

label.custom-checkbox .dot {
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
label.custom-checkbox:hover input ~ .checkmark,
label.custom-checkbox:hover input ~ .dot
{
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */
label.custom-checkbox input:checked ~ .checkmark,
label.custom-checkbox input:checked ~ .dot
{
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after, .dot:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
label.custom-checkbox input:checked ~ .checkmark:after,
label.custom-checkbox input:checked ~ .dot:after
{
    display: block;
}

/* Style the checkmark/indicator */
label.custom-checkbox .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Style the indicator (dot/circle) */
label.custom-checkbox .dot:after {
    top: 6px;
    left: 6px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
}

