@font-face {
  font-family: "Copernicus";
  src: url("../fonts/ExtraboldItalic.woff2") format("woff2"),
    url("../fonts/ExtraboldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Copernicus";
  src: url("../fonts/Extrabold.woff2") format("woff2"),
    url("../fonts/Extrabold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Copernicus";
  src: url("../fonts/BookItalic.woff2") format("woff2"),
    url("../fonts/BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Copernicus";
  src: url("../fonts/HeavyItalic.woff2") format("woff2"),
    url("../fonts/HeavyItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Copernicus";
  src: url("../fonts/BoldItalic.woff2") format("woff2"),
    url("../fonts/BoldItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Copernicus";
  src: url("../fonts/Bold.woff2") format("woff2"),
    url("../fonts/Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Copernicus";
  src: url("../fonts/Semibold.woff2") format("woff2"),
    url("../fonts/Semibold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Copernicus";
  src: url("../fonts/SemiboldItalic.woff2") format("woff2"),
    url("../fonts/SemiboldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Copernicus";
  src: url("../fonts/Heavy.woff2") format("woff2"),
    url("../fonts/Heavy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Copernicus";
  src: url("../fonts/Book.woff2") format("woff2"),
    url("../fonts/Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Copernicus";
  src: url("../fonts/MediumItalic.woff2") format("woff2"),
    url("../fonts/MediumItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Copernicus";
  src: url("../fonts/Medium.woff2") format("woff2"),
    url("../fonts/Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MarkPro-Book";
  src: url("../fonts/MarkPro-Book.woff2") format("woff2"),
    url("../fonts/MarkPro-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MarkPro";
  src: url("../fonts/MarkPro.woff2") format("woff2"),
    url("../fonts/MarkPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MarkPro";
  src: url("../fonts/MarkPro-Medium.woff2") format("woff2"),
    url("../fonts/MarkPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MarkPro";
  src: url("../fonts/MarkPro-Thin.woff2") format("woff2"),
    url("../fonts/MarkPro-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "MarkPro";
  src: url("../fonts/MarkPro-ThinItalic.woff2") format("woff2"),
    url("../fonts/MarkPro-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "MarkPro";
  src: url("../fonts/MarkPro-Italic.woff2") format("woff2"),
    url("../fonts/MarkPro-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "MarkPro-HairlineItalic";
  src: url("../fonts/MarkPro-HairlineItalic.woff2") format("woff2"),
    url("../fonts/MarkPro-HairlineItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "MarkPro";
  src: url("../fonts/MarkPro-MediumItalic.woff2") format("woff2"),
    url("../fonts/MarkPro-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "MarkPro";
  src: url("../fonts/MarkPro-Bold.woff2") format("woff2"),
    url("../fonts/MarkPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "MarkPro-Hairline";
  src: url("../fonts/MarkPro-Hairline.woff2") format("woff2"),
    url("../fonts/MarkPro-Hairline.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MarkPro";
  src: url("../fonts/MarkPro-BoldItalic.woff2") format("woff2"),
    url("../fonts/MarkPro-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "MarkPro";
  src: url("../fonts/MarkPro-LightItalic.woff2") format("woff2"),
    url("../fonts/MarkPro-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "MarkPro";
  src: url("../fonts/MarkPro-Light.woff2") format("woff2"),
    url("../fonts/MarkPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MarkPro";
  src: url("../fonts/MarkPro-HeavyItalic.woff2") format("woff2"),
    url("../fonts/MarkPro-HeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "MarkPro-BookItalic";
  src: url("../fonts/MarkPro-BookItalic.woff2") format("woff2"),
    url("../fonts/MarkPro-BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "MarkPro";
  src: url("../fonts/MarkPro-ExtraLight.woff2") format("woff2"),
    url("../fonts/MarkPro-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "MarkPro";
  src: url("../fonts/MarkPro-BlackItalic.woff2") format("woff2"),
    url("../fonts/MarkPro-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "MarkPro";
  src: url("../fonts/MarkPro-Black.woff2") format("woff2"),
    url("../fonts/MarkPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "MarkPro";
  src: url("../fonts/MarkPro-Heavy.woff2") format("woff2"),
    url("../fonts/MarkPro-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "MarkPro";
  src: url("../fonts/MarkPro-ExtraLightItalic.woff2") format("woff2"),
    url("../fonts/MarkPro-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

@tailwind base;

@tailwind components;

@tailwind utilities;
