@import "spinners.css";

@font-face {
  font-family: "Copernicus";
  src: url("../fonts/ExtraboldItalic.woff2") format("woff2"),
    url("../fonts/ExtraboldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Copernicus";
  src: url("../fonts/Extrabold.woff2") format("woff2"),
    url("../fonts/Extrabold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Copernicus";
  src: url("../fonts/BookItalic.woff2") format("woff2"),
    url("../fonts/BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Copernicus";
  src: url("../fonts/HeavyItalic.woff2") format("woff2"),
    url("../fonts/HeavyItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Copernicus";
  src: url("../fonts/BoldItalic.woff2") format("woff2"),
    url("../fonts/BoldItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Copernicus";
  src: url("../fonts/Bold.woff2") format("woff2"),
    url("../fonts/Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Copernicus";
  src: url("../fonts/Semibold.woff2") format("woff2"),
    url("../fonts/Semibold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Copernicus";
  src: url("../fonts/SemiboldItalic.woff2") format("woff2"),
    url("../fonts/SemiboldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Copernicus";
  src: url("../fonts/Heavy.woff2") format("woff2"),
    url("../fonts/Heavy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Copernicus";
  src: url("../fonts/Book.woff2") format("woff2"),
    url("../fonts/Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Copernicus";
  src: url("../fonts/MediumItalic.woff2") format("woff2"),
    url("../fonts/MediumItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Copernicus";
  src: url("../fonts/Medium.woff2") format("woff2"),
    url("../fonts/Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MarkPro-Book";
  src: url("../fonts/MarkPro-Book.woff2") format("woff2"),
    url("../fonts/MarkPro-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MarkPro";
  src: url("../fonts/MarkPro.woff2") format("woff2"),
    url("../fonts/MarkPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MarkPro";
  src: url("../fonts/MarkPro-Medium.woff2") format("woff2"),
    url("../fonts/MarkPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MarkPro";
  src: url("../fonts/MarkPro-Thin.woff2") format("woff2"),
    url("../fonts/MarkPro-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "MarkPro";
  src: url("../fonts/MarkPro-ThinItalic.woff2") format("woff2"),
    url("../fonts/MarkPro-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "MarkPro";
  src: url("../fonts/MarkPro-Italic.woff2") format("woff2"),
    url("../fonts/MarkPro-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "MarkPro-HairlineItalic";
  src: url("../fonts/MarkPro-HairlineItalic.woff2") format("woff2"),
    url("../fonts/MarkPro-HairlineItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "MarkPro";
  src: url("../fonts/MarkPro-MediumItalic.woff2") format("woff2"),
    url("../fonts/MarkPro-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "MarkPro";
  src: url("../fonts/MarkPro-Bold.woff2") format("woff2"),
    url("../fonts/MarkPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "MarkPro-Hairline";
  src: url("../fonts/MarkPro-Hairline.woff2") format("woff2"),
    url("../fonts/MarkPro-Hairline.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MarkPro";
  src: url("../fonts/MarkPro-BoldItalic.woff2") format("woff2"),
    url("../fonts/MarkPro-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "MarkPro";
  src: url("../fonts/MarkPro-LightItalic.woff2") format("woff2"),
    url("../fonts/MarkPro-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "MarkPro";
  src: url("../fonts/MarkPro-Light.woff2") format("woff2"),
    url("../fonts/MarkPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MarkPro";
  src: url("../fonts/MarkPro-HeavyItalic.woff2") format("woff2"),
    url("../fonts/MarkPro-HeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "MarkPro-BookItalic";
  src: url("../fonts/MarkPro-BookItalic.woff2") format("woff2"),
    url("../fonts/MarkPro-BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "MarkPro";
  src: url("../fonts/MarkPro-ExtraLight.woff2") format("woff2"),
    url("../fonts/MarkPro-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "MarkPro";
  src: url("../fonts/MarkPro-BlackItalic.woff2") format("woff2"),
    url("../fonts/MarkPro-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "MarkPro";
  src: url("../fonts/MarkPro-Black.woff2") format("woff2"),
    url("../fonts/MarkPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "MarkPro";
  src: url("../fonts/MarkPro-Heavy.woff2") format("woff2"),
    url("../fonts/MarkPro-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "MarkPro";
  src: url("../fonts/MarkPro-ExtraLightItalic.woff2") format("woff2"),
    url("../fonts/MarkPro-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

@tailwind base;

html {
  @apply bg-black-a100;
}

/* Styles applied to figcaption, primarily coming from Gutenberg */
/*TODO: should have leading-tight, doesn't work because when changing default values as recorded in tailwind.config,
   the imports seems to happen after the class tree is created*/
figcaption {
  @apply font-sans text-base font-medium text-gray-30;
}

/* Set and unset gradients on ArticleCarousal */
.bg-gradient-left {
  background-image: linear-gradient(90deg, #252922 0%, rgba(37, 41, 34, 0) 100%);
}
.bg-gradient-right {
  background-image: linear-gradient(270deg, #252922 0%, rgba(37, 41, 34, 0) 100%);
}
.bg-gradient-disabled {
  opacity: 0;
}

/*Hide the default react-slick arrow*/
.slick-next::before, .slick-prev::before, .slick-arrow-disabled {
display: none !important;
}

/*Allow explicit declaration of carousel height*/
.slick-track, .slick-list, .slick-slide, .slick-slide > div  {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

@tailwind components;

@tailwind utilities;

