.swiper-wrapper {
    @apply flex flex-row h-40;
}
.swiper-container {
    @apply -mx-8 px-8 z-auto relative;
}

.swiper-slide {
    width: auto !important;
    @apply mx-2;
}

.swiper-slide:first-child {
    @apply ml-0;
}

.swiper-slide:last-child {
    @apply mr-0;
}

.custom-next-arrow:after, .custom-prev-arrow:after {
    content: '';
    @apply absolute top-0 bottom-0;
    transition: all 0.2s;
}

.custom-next-arrow[aria-disabled="false"]:after {
    @apply z-10 w-8;
    right: 100%;
    background-image: linear-gradient(270deg, #252922 0%, rgba(37, 41, 34, 0) 100%);
}

.custom-prev-arrow[aria-disabled="false"]:after {
    @apply z-10 w-8;
    left: 100%;
    background-image: linear-gradient(90deg, #252922 0%, rgba(37, 41, 34, 0) 100%);
}